body {
    background: url(https://images.pexels.com/photos/1927507/pexels-photo-1927507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}



.name {
    margin-left: 9%;
}

.buttons {
    margin-right: 9%;
}

.jumbo1 {
    margin: 10%;
    padding: 2%;
    max-height: 100%;
    background: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.jumbo2 {
    margin: 10%;
    padding: 2%;
    max-height: 100%;
    color: darkblue;
    background: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#footer-bottom {
    padding-top: 7%;
}

h3 {
    padding-left: 50%;
    color: darkblue;
}

