body {
    margin-bottom: 5%;
    background: url(https://images.pexels.com/photos/1927507/pexels-photo-1927507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.container {
    background: white;
    color: blue;
    margin-top: 3%;
   
}

.row {
    margin: 5%;
    background: white;
}

h2 {
    margin-top: 2%;
    border-bottom:2px solid black; 
}

section {
    background: darkgray;
    margin: 5%;
    padding: 2%;
}

img {
    margin-bottom: 2%;
    border: 1px solid black;
}

#border {
    border-top:5px solid darkblue;
}

